.message { 
	/*color: #747474;*/
	background-color: yellow;
	height: 200px;
	width: 650px;
}

.kozulka {
	/*color: #747474;*/
	background-color: green;
	height: 150px;
	width: 350px;
}

.dupa {
	background-color: blue;
	height: 50px;
	width: 180px;
}

.message2 { 
	/*color: #747474;*/
	/*background-color: yellow;*/
	height: 200px;
	width: 650px;
	border-width: 4px;
	border-style: solid;
	border-color: yellow; 

}

.kozulka2 {
	/*color: #747474;*/
	/*background-color: green;*/
	height: 150px;
	width: 350px;
	border-width: 4px;
	border-style: solid;
	border-color: green;
}

.dupa2 {
	/*background-color: blue;*/
	height: 50px;
	width: 180px;
	border-width: 4px;
	border-style: solid;
	border-color: blue;
} 


.message3 { 
	/*color: #747474;*/
	/*background-color: yellow;*/
	height: 200px;
	width: 650px;
	/*border-width: 4px;*/
	/*border-style: solid;*/
	/*border-color: green; */
	font-size: 20px;
}

.kozulka3 {
	/*color: #747474;*/
	/*background-color: green;*/
	height: 150px;
	width: 350px;
	/*border-width: 4px;*/
	/*border-style: solid;*/
	/*border-color: blue;*/
	font-size: 10px;
}

.dupa3 {
	/*background-color: blue;*/
	height: 50px;
	width: 180px;
	/*border-width: 4px;*/
	/*border-style: solid;*/
	/*border-color: yellow;*/
	font-size: 14px;
} 
.message4 { 
	/*color: #747474;*/
	background-color: yellow;
	height: 200px;
	width: 650px;
	border-width: 4px;
	border-style: solid;
	border-color: green; 
	/*font-size: 20px;*/
}

.kozulka4 {
	/*color: #747474;*/
	background-color: green;
	height: 150px;
	width: 350px;
	border-width: 4px;
	border-style: solid;
	border-color: blue;
	/*font-size: 10px;*/
}

.dupa4 {
	background-color: blue;
	height: 50px;
	width: 180px;
	border-width: 4px;
	border-style: solid;
	border-color: yellow;
	/*font-size: 14px;*/
} 
